<div class="form">
    <mat-form-field class="name">
        <mat-label>Name of the No Fly Zone</mat-label>
        <input matInput placeholder="Ex. NoFlyZone-123" 
        [(ngModel)]="name" (change)="changeName($event)" name="name">
    </mat-form-field>
    <div class="wrapper">
        <div class="one">
            <mat-form-field>
                <mat-label>Vertex 1 longitude</mat-label>
                <input matInput [(ngModel)]="vertex1Long" type="number"
                 (change)="changeVertex1Long($event)" name="vertex1Long">
            </mat-form-field>
        </div>
        <div class="two">
            <mat-form-field>
                <mat-label>Vertex 1 latitude</mat-label>
                <input matInput [(ngModel)]="vertex1Lat" type="number"
                 (change)="changeVertex1Lat($event)" name="vertex1Lat">
            </mat-form-field>
        </div>
        <div class="three">
            <mat-form-field>
                <mat-label>Vertex 2 longitude</mat-label>
                <input matInput [(ngModel)]="vertex2Long" type="number"
                 (change)="changeVertex2Long($event)" name="vertex2Long">
            </mat-form-field>
        </div>
        <div class="four">
            <mat-form-field>
                <mat-label>Vertex 2 latitude</mat-label>
                <input matInput [(ngModel)]="vertex2Lat" type="number"
                 (change)="changeVertex2Lat($event)" name="vertex2Lat">
            </mat-form-field>
        </div>
        <div class="five">
            <mat-form-field>
                <mat-label>Vertex 3 longitude</mat-label>
                <input matInput [(ngModel)]="vertex3Long" type="number"
                 (change)="changeVertex3Long($event)" name="minAltitude">
            </mat-form-field>
        </div>
        <div class="six">
            <mat-form-field>
                <mat-label>Vertex 3 latitude</mat-label>
                <input matInput [(ngModel)]="vertex3Lat" type="number"
                 (change)="changeVertex3Lat($event)" name="vertex3Lat">
            </mat-form-field>
        </div>
        <div class="seven">
            <mat-form-field>
                <mat-label>Vertex 4 longitude</mat-label>
                <input matInput [(ngModel)]="vertex4Long" type="number"
                 (change)="changeVertex4Long($event)" name="vertex4Long">
            </mat-form-field>
        </div>
        <div class="eight">
            <mat-form-field>
                <mat-label>Vertex 4 latitude</mat-label>
                <input matInput [(ngModel)]="vertex4Lat" type="number"
                 (change)="changeVertex4Lat($event)" name="vertex4Lat">
            </mat-form-field>
        </div>
        <div class="nine">
            <mat-form-field>
                <mat-label>Maximum Altitude</mat-label>
                <input matInput [(ngModel)]="maxAltitude" type="number"
                 (change)="changeMaxAltitude($event)" name="maxAltitude">
            </mat-form-field>
        </div>
        <div class="ten">
            <mat-form-field>
                <mat-label>Minimum Altitude</mat-label>
                <input matInput [(ngModel)]="minAltitude" type="number"
                 (change)="changeMinAltitude($event)" name="minAltitude">
            </mat-form-field>
        </div>
        <div class="eleven">
            <button mat-raised-button [disabled]="buttonDisabled" (click)="submit()" color="primary">Submit</button>
        </div>
    </div>
</div>