<div class="form">
    <mat-form-field class="name">
        <mat-label>Name of the No Fly Zone</mat-label>
        <input matInput placeholder="Ex. NoFlyZone-123" [(ngModel)]="name" (change)="changeName($event)" name="name">
    </mat-form-field>
    <button mat-raised-button [disabled]="buttonDisabled" (click)="submit()" color="primary">Add Zone</button>
    <div class="wrapper">
        <div class="one">
            <mat-form-field class="long-input">
                <mat-label>Westernmost Longitude</mat-label>
                <input matInput [(ngModel)]="westLongDegree" (change)="changeWestLongDegree($event)"
                    name="westLongDegree" type="number">
            </mat-form-field>
        </div>
        <div class="two">
            <mat-form-field class="long-input">
                <mat-label>Southernmost Latitude</mat-label>
                <input matInput [(ngModel)]="southLatDegree" (change)="changeSouthLatDegree($event)"
                    name="southLatDegree" type="number">
            </mat-form-field>
        </div>
        <div class="three">
            <mat-form-field class="long-input">
                <mat-label>Easternmost Longitude</mat-label>
                <input matInput [(ngModel)]="eastLongDegree" (change)="changeEastLongDegree($event)"
                    name="eastLongDegree" type="number">
            </mat-form-field>
        </div>
        <div class="four">
            <mat-form-field class="long-input">
                <mat-label>Northernmost Latitude</mat-label>
                <input matInput [(ngModel)]="northLatDegree" (change)="changeNorthLatDegree($event)"
                    name="northLatDegree" type="number">
            </mat-form-field>
        </div>
        <div class="five">
            <mat-form-field>
                <mat-label>Rotation</mat-label>
                <input matInput [(ngModel)]="rotationDegree" (change)="changeRotationDegree($event)"
                    name="rotationDegree" type="number">
            </mat-form-field>
        </div>
        <div class="six">
            <mat-form-field>
                <mat-label>Maximum Altitude</mat-label>
                <input matInput [(ngModel)]="maxAltitude" type="number" (change)="changeMaxAltitude($event)"
                    name="maxAltitude">
            </mat-form-field>
        </div>
        <div class="seven">
            <mat-form-field>
                <mat-label>Minimum Altitude</mat-label>
                <input matInput [(ngModel)]="minAltitude" type="number" (change)="changeMinAltitude($event)"
                    name="minAltitude">
            </mat-form-field>
        </div>
    </div>
</div>