<div class="form">
    <mat-form-field class="name">
        <mat-label>Name of the No Fly Zone</mat-label>
        <input matInput placeholder="Ex. NoFlyZone-123" [(ngModel)]="name" (change)="changeName($event)" name="name">
    </mat-form-field>
    <button mat-raised-button [disabled]="buttonDisabled" color="primary" (click)="submit()">Add Zone</button>
    <div class="wrapper">
        <div class="one">
            <mat-form-field>
                <mat-label>Longitude</mat-label>
                <input matInput placeholder="90.002" [(ngModel)]="longitude" (change)="changeLongitude($event)"
                    name="longitude">
            </mat-form-field>
        </div>
        <div class="two">
            <mat-form-field>
                <mat-label>Latitude</mat-label>
                <input matInput placeholder="45.002" [(ngModel)]="latitude" (change)="changeLatitude($event)"
                    name="latitude">
            </mat-form-field>
        </div>
        <div class="three">
            <mat-form-field>
                <mat-label>Altitude</mat-label>
                <input type="number" matInput [(ngModel)]="altitude" (change)="changeAltitude($event)" name="altitude">
            </mat-form-field>
        </div>
        <div class="four">
            <mat-form-field>
                <mat-label>Radius in Longitude</mat-label>
                <input type="number" matInput [(ngModel)]="longitudeRadius" (change)="changeLongRadius($event)"
                    name="longitudeRadius">
            </mat-form-field>
        </div>
        <div class="five">
            <mat-form-field>
                <mat-label>Radius in Latitude</mat-label>
                <input type="number" matInput [(ngModel)]="latitudeRadius" (change)="changeLatRadius($event)"
                    name="latitudeRadius">
            </mat-form-field>
        </div>
        <div class="six">
            <mat-form-field>
                <mat-label>Radius in Altitude</mat-label>
                <input type="number" matInput [(ngModel)]="altRadius" (change)="changeAltRadius($event)"
                    name="altRadius">
            </mat-form-field>
        </div>
    </div>
</div>