<div class="form">
    <mat-form-field class="name">
        <mat-label>Name of the No Fly Zone</mat-label>
        <input matInput>
    </mat-form-field>
    <div class="wrapper">
        <div class="one">
            <mat-form-field>
                <mat-label>Longitutde</mat-label>
                <input type="number" matInput>
            </mat-form-field>
        </div>
        <div class="two">
            <mat-form-field>
                <mat-label>Latitude</mat-label>
                <input type="number" matInput>
            </mat-form-field>
        </div>
        <div class="three">
            <mat-form-field>
                <mat-label>Altitude</mat-label>
                <input type="number" matInput>
            </mat-form-field>
        </div>
        <div class="four">
            <mat-form-field>
                <mat-label>Radius in Longitude</mat-label>
                <input type="number" matInput>
            </mat-form-field>
        </div>
        <div class="five">
            <mat-form-field>
                <mat-label>Radius in Latitude</mat-label>
                <input type="number" matInput>
            </mat-form-field>
        </div>
        <div class="six">
            <mat-form-field>
                <mat-label>Radius in Altitude</mat-label>
                <input type="number" matInput>
            </mat-form-field>
        </div>
        <div class="seven">
            <button mat-raised-button  color="primary">Submit</button>
        </div>
    </div>
</div>