<mat-dialog-content>
    <button mat-icon-button class="close-button" (click)="close()" id="closeDialog"> 
        <mat-icon class="close-icon" color="warn">close</mat-icon>
    </button>
    <mat-tab-group>
        <mat-tab label="Airport to Airport">
            <mat-form-field>
                <mat-label>Airline Name</mat-label>
                <input matInput [(ngModel)]="data.airline">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Flight ICAO</mat-label>
                <input matInput [(ngModel)]="data.icao">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Origin Airport</mat-label>
                <input matInput [(ngModel)]="data.departAirport">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Destination Airport</mat-label>
                <input matInput [(ngModel)]="data.arriveAirport">
            </mat-form-field>
        </mat-tab>
        <mat-tab label="Custom">
            <div>
                <mat-form-field>
                    <mat-label>Airline Name</mat-label>
                    <input matInput [(ngModel)]="data.airline">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Flight ICAO</mat-label>
                    <input matInput [(ngModel)]="data.icao">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Longitude</mat-label>
                    <input matInput [(ngModel)]="data.longitude">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Latitude</mat-label>
                    <input matInput [(ngModel)]="data.latitude">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Altitude</mat-label>
                    <input matInput [(ngModel)]="data.altitude">
                </mat-form-field>
            </div>
            <mat-form-field>
                <mat-label>Longitude Rate of Change</mat-label>
                <input matInput [(ngModel)]="data.longChange">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Latitude Rate of Change</mat-label>
                <input matInput [(ngModel)]="data.latChange">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Altitude Rate of Change</mat-label>
                <input matInput [(ngModel)]="data.altChange">
            </mat-form-field>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>


<mat-dialog-actions>
    <button mat-raised-button (click)="close()">Generate</button>
</mat-dialog-actions>