<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    Flight Tracker
</mat-toolbar>

<mat-sidenav-container class="mat-elevation-z8">
    <mat-sidenav #sidenav="matSidenav">
        <button mat-button class="menu-button" routerLink="/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page" (click)="sidenav.toggle()">
            <mat-icon>home</mat-icon>
            <span class="button-title">Home</span>
        </button>
        <button mat-button class="menu-button" routerLink="/search" routerLinkActive="activebutton" ariaCurrentWhenActive="page" (click)="sidenav.toggle()">
            <mat-icon>search</mat-icon>
            <span>Flight Search</span>
        </button>
        <button mat-button class="menu-button" routerLink="/add-no-fly-zone" routerLinkActive="activebutton" ariaCurrentWhenActive="page" (click)="sidenav.toggle()">
            <mat-icon>airplanemode_inactive</mat-icon>
            <span>Add No Fly Zone</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content class="content mat-elevation-z8">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>