<div class="main">
    <div>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Fight Number</mat-label>
                <input matInput placeholder="Ex. NE654" [(ngModel)]="search" (change)="filter($event)" name="search">
            </mat-form-field>
        </form>
    </div>
</div>
<mat-divider></mat-divider>
<div class="main">
    <div *ngFor="let flight of filteredFlightList | slice:0:7">
        <div class="flight-option mat-elevation-z8">
            <span class="flight-text">{{flight.flightNumber}}</span>
            <button mat-button class="flight-select mat-elevation-z8" routerLink="/track/{{flight.flightId}}" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
                Select
            </button>
        </div>
    </div>
</div>