<mat-dialog-content>
    <div class="main">
        <button mat-icon-button class="close-button" (click)="close()" id="closeDialog"> 
            <mat-icon class="close-icon" color="warn">close</mat-icon>
        </button>
        <mat-tab-group>
            <mat-tab label="Rectangle">
                <app-rectangle-no-fly-zone></app-rectangle-no-fly-zone>
            </mat-tab>
            <mat-tab label="Ellipsoid">
                <app-ellipsoid-no-fly-zone></app-ellipsoid-no-fly-zone>
            </mat-tab>
            <mat-tab label="Custom Polygon">
                <app-custom-polygon-no-fly-zone></app-custom-polygon-no-fly-zone>
            </mat-tab>
        </mat-tab-group>
    </div>
    <p id="degreeWarning">*All values are assumed to be in degrees*</p>
</mat-dialog-content>