<div class="main mat-elevation-z8">
    <h3>Flight: {{flightDetails.flightNumber}}</h3>

    <div class="wrapper">
        <div class="one">
            <p>Takeoff Location: {{flightDetails.takeoffLocation}}</p>
            <p>Takeoff Time: {{flightDetails.takeoffTime}}</p>
            <p>Arrival Location: {{flightDetails.arrivalLocation}}</p>
            <p>Arrival Time: {{flightDetails.arrivalTime}}</p>
            <p>Currently Over: {{flightDetails.currentlyOver}}</p>
        </div>
        <div class="two">
            <p>Elevation: {{flightDetails.elevation}}</p>
            <p>In No Fly Zone: {{flightDetails.inNoFlyZone}}</p>
            <p>Flight Speed: {{flightDetails.flightSpeed}}</p>
            <p>Latitude: {{flightDetails.latitude}}</p>
            <p>Longitude: {{flightDetails.longitude}}</p>
        </div>
    </div>
</div>