

.wrapper {
    position: relative;
}

#hide-nofly {
    position: absolute;
    top: 0;
    left: 0;
}


mat-drawer {
    /* margin: 8px; */
    width: auto;
    border-right: none;
    background: lightgray;
    color: white;
    border-radius: 10px;
    padding: 16px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    
    
}

mat-icon {
    margin-right: 4px;

}

mat-drawer-container {
    height: calc(100vh );
}

mat-toolbar {
    background: goldenrod;
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    

}