<body>
    <div class="wrapper">
        <div id="cesium">

        </div>
        
            <mat-toolbar>
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon *ngIf="!drawer.opened">
                        menu
                    </mat-icon>
                    <mat-icon *ngIf="drawer.opened">
                        close
                    </mat-icon>
                </button>
                Cesium Options
            </mat-toolbar>
            <mat-drawer-container >
                <mat-drawer #drawer  mode="over">
                    
                    <button mat-button class="menu-button" (click)="drawer.toggle();hideEllip()">Un/Hide All Custom Ellipsoids</button>
                    <br>
                    <button mat-button class="menu-button" (click)="drawer.toggle();hideRect()">Un/Hide All Custom Rectangles</button>                    
                    <br>
                    <button mat-button class="menu-button" (click)="drawer.toggle();hidePoly()">Un/Hide All Custom Polygons</button>
                    <br>
                    <button mat-button class="menu-button" (click)="drawer.toggle();hideMilitaryBases()">Un/Hide All Military No Fly Zones</button>
                    <br>
                    <button mat-button class="menu-button" (click)="drawer.toggle(); hideSelected()">Hide Selected Entity</button>
                    <br>
                    <button mat-button class="menu-button" (click)="drawer.toggle(); reset()">Reset Entities</button>
                    <br>
                    <br>
                    <button mat-button class="menu-button warning" (click)="drawer.toggle(); deleteNoFly()">Delete Selected Entity</button>
                    <br>
                    <mat-form-field>
                        <mat-label>Zone Name</mat-label>
                        <input matInput [(ngModel)]="zoneName">
                        <button mat-button class="menu-button" (click)="findZone()">Find No Fly Zone</button>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Flight ICAO</mat-label>
                        <input matInput [(ngModel)]="flightIcao">
                        <button mat-button class="menu-button" (click)="findFlight()">Find Flight</button>
                    </mat-form-field>

                </mat-drawer>
                
            </mat-drawer-container>
        
        
        
        
    </div>


</body>