<div class="main-text">
  <h3>An Event-Driven Flight Visualizer</h3>
  <mat-divider></mat-divider>
  <p>
    This project is a proof-of-concept of the pocibility of building an
    event-driven application for the purpose of visualizing entities interacting
    in 3D spaces.
    <br />
    <br />
    This project has been started by Team Flight and has now been taken over by
    team NightWatch for further improvement
  </p>

  <button mat-raised-button routerLink="/showcase" id="trackButton">
    Track Some Flights!
  </button>

  <h5>Current Maintainers : Team NightWatch</h5>
  <p>Eduardo Montoya</p>
  <p>Ethan Wagner</p>
  <p>Jace Rettinger</p>
  <p>Komlan Kodoh</p>

  <h5>Previous Maintainers : Team Flight </h5>
  <p>Andrew Pitzl</p>
  <p>Justin Kenney</p>
  <p>Justin Kaczmarek</p>
  <p>Nick Horihan</p>
  <p>Derek Heimes</p>

</div>
