<div class="main-text">
    <h3>An Event-Driven Flight Visualizer</h3>
    <mat-divider></mat-divider>
    <p>
        This is a proof-of-concept project.
        Northrop Grumman would like to showcase that it is possible to quickly
        build an event-driven application for the purpose of visualizing entities interacting in 3D spaces.
    </p>
    <h5>Team Members</h5>
    <p>Andrew Pitzl</p>
    <p>Justin Kenney</p>
    <p>Justin Kaczmarek</p>
    <p>Nick Horihan</p>
    <p>Derek Heimes</p>
</div>